<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <title>{$title}</title>
    {loop="$styles"}
    <link rel="stylesheet" href="{$value}">
    {/loop}
    {loop="$scripts"}
    <script type="text/javascript" src="{$value}"></script>
    {/loop}
</head>
<body>
    <ul class="navbar">
        <a href="./"><li class="title selected">Cravat</li></a>
        <a href="./admin"><li>Admin</li></a>
        <a href="./users"><li>Users</li></a>
        <div class="right">
            <a href="#"><li>Login</li></a>
            <a href="./admin/settings"><li>Menu</li></a> 
        </div>
    </ul>
    <span class="top_cover" style="background-color:#554499;">
        <span class="top_cover__content">
            <h1>{$title}</h1>
        </span>
    </span>